.faq-tab{
    height:300px;
    width:1100px;
    float:right;
    margin-top: -10px;
    -webkit-box-shadow: 5px 6px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 5px 6px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: -2px -1px 11px 3px #ccc;
}

.inner-addon  {
    position: relative;
    float:right;
    width: 580px;
    margin: 12px 40px 0 0;
}
.faq-row-1 , .faq-row-2 {
    width:640px;
    float:right;
    padding:10px;
    margin-right:20px;
}

.faq-icon {
    margin: 11px 108px 0 76px;
    color: #0E598B;
    padding: 13px 13px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 117px;
    -moz-box-shadow: 0px 0px 2px #0D61B1;
    -webkit-box-shadow: 0px 0px 2px #0D61B1;
    box-shadow: 0px 0px 2px #0D61B1;
    text-align: center;

}
.span:hover {
    background-color: #ededed;
}
.search-input {
    border-radius: 30px;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .glyphicon {
    left: 0;
    color: #0E598B;
}

.right-addon input { padding-left: 30px; }


.divider {
    position:absolute;
    left: -40%;
    top:8%;
    bottom: 0;
    border-left: 1px solid #ABA3A3;
}

.column-left{ float:left; width: 33%;  margin-top: 10px; text-align: center; color: #0E598B;}

.column-right{ float: right; width: 33%;margin-top: 10px ; text-align: center; color:#0E598B;}
.column-center{ display: inline-block; width: 33%; margin-top: 10px;text-align: center;color:#0E598B; }

.column-left:hover , .column-center:hover , .column-right:hover{
    background-color: #ededed;
}

.column-right p ,.column-center p , .column-left p{
    padding-top: 10px;
}

.faq-left{
    float:left;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}